<!DOCTYPE html>
<html lang="en">
    <%-include('partials/header.ejs');%>
<body>

    <div class="container" style="background-color: plum;">
        <center>
            <div style="padding: 30px;
            height: 10%;
            text-align: center;
            background-color: lavenderblush;">
                <img src="./img/viajes.jpeg" alt="..." style="width: 150px; float: left; margin-left: 125px;">
                <h1 style="margin-left: 0px;">Compañia de Luz </h1>
            </div>
            <%-include('partials/nav.ejs');%>
            <br>
            <form action="/examen" method="post" style="width: 600px;">
                <br><br>
                <label for="">Numero Recibo</label>
                <input type="text" id="numRecibo" name="numRecibo">
                <br>
                <label for="">Nombre </label>
                <input type="text" id="nombre" name="nombre">
                <br>
                <label for="">Domicilio</label>
                <input type="text" id="domicilio" name="domicilio">
                <br>
                <label for="">Tipo de servicio </label>
                <select name="tipoServicio" id="tipoServicio">
                    <option value="1">Domicilio</option>
                    <option value="2">Comercial</option> 
                    <option value="3">Industrial</option>                   
                </select>
                <br>
                <label for="">Kilowatts Consumidos</label>
                <input type="text" id="kConsumidos" name="kConsumidos">
                <br><br>
                <button type="submit" class="btn btn-primary" id="btnEnviar" name="btnEnviar">Enviar información</button> 
                <button type="reset" class="btn btn-secondary" id="btnLimpiar" name="btnLimpiar">Limpiar</button> 
                <br><br>
            </form> <br><br><br>
        </center>

        <%  
            if(kConsumidos!=null){
               var subtotal=0; 
               var impuesto=0;
                var descuento=0;
                var totalPagar=0;

                subtotal = kConsumidos; 
                impuesto = subtotal * 0.16;

                Sacas el subtotal, que es los kilowats por el precio
                A ese subtotal le sacas el descuento, y en base a ese subtotal también sacas el impuesto y se suman creo

                if(tipoServicio==1){
                    subtotal = 
                    precio 1.08
                }
                if(tipoServicio==2){
                    precio 2.5
                }
                if(tipoServicio==2){
                    precio 3.0
                }

                if(kConsumidos<=1000){
                    descuento = 4*.10
                }
                if((kConsumidos>1000) && (kConsumidos<=10000)){
                    descuento = 4*.20
                }
                if(kConsumidos>10000){
                    descuento = 4*.50
                }

            }
        %>
        <center>
            <strong>
                Subtotal: <input type="text" value="<%=subtotal%>" readonly="true"> <br><br>
                Impuesto 16%: <input type="text" value="<%=impuesto%>" readonly="true"> <br> <br>
                Descuento: <input type="text" value="<%=descuento%>" readonly="true"> <br> <br>
                Total a pagar: <input type="text" value="<%=totalPagar%>" readonly="true"> <br><br>
            </strong>
        </center>

    </div>
    <%-include('partials/footer.ejs');%>
</body>
</html>